* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fondo-formulario.jpg');
}

.form-register {
  width: 400px;
  background: #751388;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px rgb(107, 205, 223);
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #7baada;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #a91fc5;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(126, 99, 99);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: rgb(126, 99, 99);
  text-decoration: none;
}

.form-register a:hover {
  color: rgb(126, 99, 99);
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #cf076b;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}